{% extends "base.html.twig" %}

{% block body %}

    <h1>Connexion</h1>
    
    <form action="{{ path('security_login') }}" method="POST">
        <div class="form_group">
            <input placeholder="Adresse email" required type="text" name="_username" class="form-group">
        </div>
        <div class="form_group">
            <input placeholder="Mot de passe" required type="password" name="_password" class="form-group">
        </div>
        <div class="form_group">
            <button class="btn btn-success" type="submit">Connexion</button>
        </div>
    </form>

{% endblock %}